
html
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Varela Round', sans-serif;
}

.bg{
  margin:0;
  padding:0;
  background-image: url(1.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
body{
  background-color: white;
}
header{
  padding-left: 0.5%;
  background-color: white;
}
form{
  padding-left: 20%;
  line-height: 3em;
}
h2{
  color: rgb(242, 242, 242, 0.80);
}
.container{
  float: inherit;
  background-color: white;
  width:40%;
  margin-top: 15%;
  margin-right: 50px;
  border: none;
  padding: 10px;
  padding-right: 15px;
  border-radius: 8px;

}
.containerr{
  float: inherit;
  background-color: white;
  width:40%;
  margin-top: 10%;
  margin-right: 50px;
  border: none;
  padding: 10px;
  padding-right: 15px;
  border-radius: 8px;

}
.un{
  padding-bottom: 20px;
  padding-left: 1%;
}
.pass{
  line-height: 150%;
  padding-top: 5px;
  padding-left: 10%;
  padding-bottom: 30px;
}

.txtbx {
  width: 80%;
  padding: 12px 20px;
  margin-bottom: 2px;
  display: inline-block;
  border: NONE;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #e6e6e6;
  outline: none;
}

.msgbx {
  width: 80%;
  padding: 12px 20px;
  margin: 0px;
  display: inline-block;
  border: NONE;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #e6e6e6;
  outline: none;
}

.button{
  background-color: #3277a8;
  color: white;
  padding: 14px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}
.button2{
  background-color: #3277a8;
  color: white;
  padding: 14px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

.text{
  padding-left: 30%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

#leftbox {
  float: left;
  width:100px;
  padding-right: 20px;
  padding-left: 10px;
  border: 2px;
  border-color: black;
  border: 2px teal solid;
  border-radius: 20px;
}
#middlebox{
  float: left;
  width:100px;
  padding-right: 20px;
  padding-left: 10px;
  border: 2px teal solid;
  border-radius: 20px;
}
#rightbox{
  float: left;
  width:100px;
  padding-right: 20px;
  padding-left: 10px;
  border: 2px teal solid;
  border-radius: 20px;
}

#bottomerror{
  position:relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #grey;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 30px;
  text-align: center;
}
